# Generales
CLAUDE.md
.claude/
.gemini/
temp
conn/*.env
conn/*.json
conn/*.pem
docs/
FEATURES.md

# Node.js / Frontend
node_modules/
dist/
build/

# Python / Backend
__pycache__/
*.py[cod]
venv/
.venv/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Deploy
deploy.zip
.codex
